################################################################################
# Il file gitignore è stato creato automaticamente da Microsoft(R) Visual Studio.
################################################################################

/.vs
/Transpose_Algorithm_Explanation.ods
/Transpose_Algorithm_Explanation.ods
